/* Resetando estilos padrão do navegador */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  /* Estilos para o cabeçalho */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  header img {
    margin-right: 10px;
  }
  
  header ul {
    display: flex;
  }
  
  header ul li {
    margin-right: 20px;
    font-weight: bold;
  }

  .container_header{
    display: flex;
    align-items: center;
  }
  
  /* Estilos para links */
  header ul li a {
    text-decoration: none;
    color: #eeeb1a;
    transition: color 0.3s ease-in-out;
  }
  
  header ul li a:hover {
    color: #4d2003;
  }
  

  .titulo{
    color: #4d2003;
    font-weight: bold;
    font-size: 48px;
    text-align: center;
  }

  .cadastro{
    padding: 10px 20px;
    background-color: #00aa00;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0,1s ease-in-out;
  }

  .cadastro:hover{
    background-color: #00aa00;
  }